<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Martian | Template</title>
        <meta name="author" content="Martian">
        <meta name="description" content="">
        <meta property="og:image" content="https://upload.wikimedia.org/wikipedia/commons/f/f5/3D_Mars.png?20150725174645">
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/f/f5/3D_Mars.png?20150725174645" type="image/x-icon">
    </head>
    <body>
        
        <hr><footer>
            DOP: Fri Jul 18 2025 12:00:00 GMT+1200 (New Zealand Standard Time)
            <p>
            <a href="/">HOME</a>
            <a href="/welcome/">WELCOME</a>
            <a href="/why/">WHY</a>
            </p>
        </footer>
    </body>
</html>
