@import url('https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&display=swap');
body {
    background-color: #9C2E35;
    color: #ffffff;
    
    /* Font */
    font-family: "Intel One Mono";
    font-weight: auto;
    font-style: normal;
}
a {
    color: #ffffff;
}
a:hover {
    text-decoration: wavy underline;
}
hr {
    opacity: 40%;
    border: 5px solid #000000;
}
